.btn{
  border-radius: 0 !important;
}

.vg{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#output{
  display: none;
  margin: 0 auto;
  width: 600px;
  font-family: 'Press Start 2P', cursive;
}