body {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vg{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#output{
  display: none;
  margin: 0 auto;
  width: 600px;
  font-family: 'Press Start 2P', cursive;
}

.btn{
  background-color: black;
  border-radius: 0 !important;
}

.jumbotron {
  background: transparent;
}

.centered {
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.circle {
  width: 250px;
  height: 250px;
  background-color: #40a977;
  border-radius: 50%;
  float: left;
  shape-outside: circle( 5px at 30% 70%);
  -webkit-shape-outside: circle();
}
  

