.btn{
  border-radius: 0 !important;
}

.vg{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#output{
  display: none;
  margin: 0 auto;
  width: 600px;
  font-family: 'Press Start 2P', cursive;
}

.btn{
  background-color: black;
}

.jumbotron {
  background: transparent;
}

.circle {
  background: lightblue;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.center{
  padding: 10rem
}